:root {
  --color-green: #27ae60;
  --color-red: #eb5757;
  --color-gold: #ffd700;
  --color-black: black;
  --color-yellow: yellow;
  --color-white: white;
  --color-purple: purple;
  --color-spacegray: #717378;
  --color-midnightgreen: #073812;
  --color-silver: silver;
  --color-rosegold: #b76e79;
  --color-coral: coral;
  --color-midnight: #011365;
  --color-spaceblack: #333334;
  --color-blue: blue;
  --color-pink: pink;
  --color-graphite: #41424c;
  --color-sierrablue: #bfdaf7;
}
