$color-accent: #f86800;
$color-secondary-accent: #476df4;
$color-primary: #0f0f11;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-success: #27ae60;
$color-error: #eb5757;

$color-green: #27ae60;
$color-red: #eb5757;
$color-gold: #ffd700;
$color-black: black;
$color-yellow: yellow;
$color-white: white;
$color-purple: purple;
$color-spacegray: #717378;
$color-midnightgreen: #073812;
$color-silver: silver;
$color-rosegold: #b76e79;
$color-coral: coral;
$color-midnight: #011365;
$color-spaceblack: #333334;
$color-blue: blue;
$color-pink: pink;
$color-graphite: #41424c;
$color-sierrablue: #bfdaf7;

$font-bold: Mont, serif;
$font-semibold: Mont, serif;
$font-regular: Mont, serif;

// H1
$h1-size-desktop: 48px;
$h1-line-height-desktop: 56px;
$h1-spacing-desktop: -0.01em;

$h1-size-mobile: 32px;
$h1-line-height-mobile: 41px;

// H2
$h2-size-desktop: 32px;
$h2-line-height-desktop: 41px;
$h2-spacing-desktop: -0.01em;

$h2-size-mobile: 22px;
$h2-line-height-mobile: 31px;
$h2-spacing-mobile: 0em;

// H3
$h3-size-desktop: 22px;
$h3-line-height-desktop: 31px;
$h3-spacing-desktop: 0em;

$h3-size-mobile: 20px;
$h3-line-height-mobile: 26px;

// H4
$h4-size-desktop: 20px;
$h4-line-height-desktop: 26px;
$h4-spacing-desktop: 0em;

$h4-size-mobile: 16px;
$h4-line-height-mobile: 20px;

// Uppercase
$text-uppercase-size: 12px;
$text-uppercase-line-height: 11px;
$text-uppercase-spacing: 0.04em;

// Buttons
$text-buttons-size: 14px;
$text-buttons-line-height: 21px;
$text-buttons-spacing: 0em;

// Body
$text-body-size: 14px;
$text-body-line-height: 21px;
$text-body-spacing: 0em;

// Small
$text-small-size: 12px;
$text-small-line-height: 15px;
$text-small-spacing: 0em;

$grid-columns-mobile: 4;
$grid-columns-tablet: 12;
$grid-columns-desktop: 24;
