@import './modules//shared//variables.scss';

@font-face {
  font-family: Mont, sans-serif;
  src: url(./fonts/Mont-Regular.otf);
  font-weight: 600;
}

@font-face {
  font-family: Mont, sans-serif;
  src: url(./fonts/Mont-SemiBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Mont, sans-serif;
  src: url(./fonts/Mont-Bold.otf);
  font-weight: 800;
}

:root {
  margin: 0;
}
body {
  margin: 0;
}
